[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/caue/Applications/eSound.Music-2.0.5.AppImage
Name=Esound Music
Icon=/home/caue/Pictures/esound.png
