[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/caue/Applications/eSound.Music-2.0.5.AppImage
Name=Esound Music
Icon=/home/caue/Pictures/icons/91611cc75c279b9f2de85c65d8fb5fe0_icon.png
