/* :root { */
/*   --text: #e0def4; */
/*   --base: #191724; */
/*   --love: #eb6f92; */
/*   --pine: #31748f; */
/* } */
/**/
@define-color text #e0def4;
@define-color base #191724;
@define-color love #eb6f92;
@define-color pine #31748f;
@define-color low #21202e;

* {
  border: none;
  /* border-radius: 0; */
  font-family: "JetBrainsMono Nerd Font", "Material Icons", monospace;
  font-size: 15px;
  /* min-height: 0; */
}

window#waybar {
  background: transparent;
  color: @text;
}




#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#language,
#custom-arch,
#custom-disturb_on,
#custom-disturb_off,
#custom-mic,
#custom-notification,
#mpd,
#workspaces{
  background-color: @base;
  padding: 0 10px;
  min-height: 35px;
  border-radius: 5px;
  margin: 0;
  margin-top: 5px;
  border-bottom: 2px solid @pine;
}


#workspaces {
  margin-left: 20px;
}

#workspaces button {
  margin: 0;
  padding: 0 8px;
  background: @base;
  color: @text;
  border-bottom: 2px solid transparent;
}

#tray {
  margin-right: 20px;
}

#window {
  border-left: 2px solid @text;
}

#clock {
  /* background-color: #2a273f ; */
}

#network {
  border-bottom: 2px solid #b16286;
}

#pulseaudio {
  border-bottom: 2px solid @pine;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
  background-color: @low;
  color: @text;
}
