[Unit]
Description=Update dotfiles website

[Timer]
Unit=dotfiles.service
OnCalendar=*-*-* 05:00:00
Persistent=true

[Install]
WantedBy=timers.target
