/* ft=gtkcss*/

* {
  border: none;
  border-radius: 0px;
  font-family: "AzeretMono Nerd Font";
  font-size: 14px;
  font-weight: 400;
}

window#waybar {
  background: transparent;
  color: @theme_text_color;
}

#window,
#clock,
#battery,
#pulseaudio,
#tray,
#workspaces {
  background-color: @theme_base_color;
  color: @theme_text_color;
  padding: 0 15px;
  border-bottom: 3px solid @accent_color;
}

#battery {
  border: none;
  padding: 0 5px;
  background-color: transparent;
}

#battery.critical {
  color: @error_bg_color;
}

#workspaces button {
  background: @theme_base_color;
  color: @theme_text_color;
  opacity: 0.8;
}

#workspaces button:hover {
  background-color: @popover_bg_color;
}

#workspaces button.active {
  color: @accent_color;
  border-top: 3px solid @accent_color;
  opacity: 1;
}
