/* ft=gtkcss*/

* {
  border: none;
  border-radius: 0;
  font-family: "CommitMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.2s;
}

window#waybar {
  background: transparent;
  color: @theme_text_color;
}

#window,
#clock,
#battery,
#pulseaudio,
#tray,
#workspaces {
  background-color: @theme_base_color;
  color: @theme_text_color;
  padding: 0 15px;
  border-radius: 20px;
}

#battery {
  border: none;
  padding: 0 5px;
  background-color: transparent;
}

#battery.critical {
  color: @error_bg_color;
}

#workspaces button {
  background: @theme_base_color;
  color: @theme_text_color;
  opacity: 0.8;
  border-radius: 20px;
}

#workspaces button:hover {
  background-color: @popover_bg_color;
}

#workspaces button.active {
  color: @accent_color;
  opacity: 1;
}
