/* ft=gtkcss*/

* {
  border: none;
  border-radius: 0;
  font-family: "IosevkaTerm Nerd Font";
  font-size: 14px;
  font-weight: normal;
  transition-duration: 0.2s;
}

window#waybar {
  background: transparent;
  color: @theme_text_color;
}

#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#language,
#custom-notification,
#mpd,
#workspaces,
#gamemode,
#gamemode.running {
  background-color: @theme_base_color;
  color: @theme_text_color;
  padding: 0 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8);
}

#battery {
  padding: 0 5px;
  background-color: transparent;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0);
}

#battery.critical {
  color: @error_bg_color;
}

#workspaces button {
  background: @theme_base_color;
  font-size: 15px;
  color: @theme_text_color;
  opacity: 0.8;
}

#workspaces button:hover {
  background-color: @popover_bg_color;
}

#workspaces button.active {
  color: @accent_color;
  opacity: 1;
}
