label {
  font-weight: normal;
  font-family: "Maple Mono";
}

@define-color bar-bg-color rgba(0, 0, 0, 0.5);
@define-color bg-color rgba(0, 0, 0, 0.9);

* {
  border-radius: 0px;
  font-size: 14px;
}

.bar {
  background-color: @bar-bg-color;
}

.workspaces {
  border-bottom: 3px solid @accent_fg_color;
}

.workspace {
  background-color: @bg-color;
  color: #eee;
  font-size: 20px;
}

.workspace-icon {
  font-size: 20px;
}

.workspace-box {
}

.workspace:hover,
.media:hover {
  background-color: @popover_bg_color;
}

.workspace.focused {
  color: @accent_color;
  border-top: 3px solid @accent_color;
}

.notification image {
  color: yellow;
  margin-left: 1em;
}

.client-title {
}

.battery > label,
.audio-icon,
.clock-icon {
  font-size: 18px;
}

.default-box {
  margin-left: 15px;
  background-color: @bg-color;
  color: white;
  padding: 0 15px;
  border-bottom: 3px solid @accent_fg_color;
}

.clock {
  background-color: @bg-color;
  padding: 0 15px;
  border-bottom: 3px solid @accent_fg_color;
}

.systemtray {
  border-bottom: 3px solid @accent_fg_color;
  margin-left: 10px;
}

.systemtray > button {
  background-color: @bg-color;
}

.systemtray > button * {
  font-size: 20px;
}

/* .systemtray > button:first-child { */
/* margin-left: 10px; */
/* } */

.volume * {
  all: unset;
}
