label {
  font-weight: normal;
  font-family: "FiraMono Nerd Font";
}

@define-color bar-bg-color rgba(0, 0, 0, 1);
@define-color bg-color rgba(15,15,15,2);
@define-color sep #f9f9f9;
@define-color border-color #deddda;

/*
uncomment the border-bottom and commend all box shadow and border and change
.bar background-color to @bar-bg-color 
to get antoher visual style. 
*/

* {
  border-radius: 0px;
  font-size: 14px;
  padding: 0;
}

.bar {
  background-color: @bar-bg-color;
  border-bottom: 1px solid @sep;
  padding: 0;
}

.workspaces {
  border-bottom: 1px solid @sep;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px; */
  /* border: 1px solid @border-color; */
}

.workspace {
  /* background-color: @bg-color; */
  background-color: unset;

  color: #eee;
  font-size: 20px;
  padding: 0px 5px;
}

.workspace-icon {
  font-size: 20px;
}

.workspace-box {
}

.workspace:hover,
.media:hover {
  background-color: #1e1e1e;
}

.workspace.focused {
  color: @accent_color;
  /* border-top: 3px solid @accent_color; */
}

.notification image {
  color: yellow;
  margin-left: 1em;
}

.client-title {
  /* padding: 15px 0; */
}

.battery > label {
  margin-right: 4px;
}

.battery > label,
.audio-icon,
.clock-icon {
  font-size: 18px;
}

.default-box {
  /* margin-left: 15px; */
  /* background-color: @bg-color; */
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px; */
  /* border: 1px solid @border-color; */
  border-bottom: 1px solid @sep;
  color: white;
  background-color: @bar-bg-color;
  padding: 0px 5px;
}

.clock {
  /* background-color: @bg-color; */
  border-bottom: 1px solid @sep;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px; */
  /* border: 1px solid @border-color; */
  padding: 0px 5px;
  /* margin-left: 10px; */
}

.systemtray {
  margin-left: 0px;
  border-bottom: 1px solid @sep;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px; */
  /* border: 1px solid @border-color; */
}

.systemtray > button {
  padding: 0px 5px;
  /* background-color: @bg-color; */
}

.systemtray > button * {
  font-size: 20px;
}

.sep {
  font-size: 21px;
  color: #9a9996;
}

.volume * {
  all: unset;
}
