label {
  font-weight: normal;
  font-family: "NK57 Monospace";
}

@define-color bar-bg-color rgba(0, 0, 0, 1);
@define-color bg-color rgba(15,15,15,2);
@define-color sep #f9f9f9;

* {
  border-radius: 0px;
  font-size: 14px;
  padding: 0;
}

.bar {
  background-color: @bar-bg-color;
  border-bottom: 1px solid @sep;
}

.workspaces {
  border-bottom: 1px solid @sep;
}

.workspace {
  background-color: @bg-color;
  color: #eee;
  font-size: 20px;
  padding: 2px 5px;
}

.workspace-icon {
  font-size: 20px;
}

.workspace-box {
}

.workspace:hover,
.media:hover {
  background-color: @popover_bg_color;
}

.workspace.focused {
  color: @accent_color;
  /* border-top: 3px solid @accent_color; */
}

.notification image {
  color: yellow;
  margin-left: 1em;
}

.client-title {
  padding: 15px 0;
}

.battery > label,
.audio-icon,
.clock-icon {
  font-size: 18px;
}

.default-box {
  margin-left: 15px;
  background-color: @bg-color;
  border-bottom: 1px solid @sep;
  color: white;
  padding: 2px 5px;
}

.clock {
  background-color: @bg-color;
  border-bottom: 1px solid @sep;
  padding: 2px 5px;
}

.systemtray {
  margin-left: 10px;
  border-bottom: 1px solid @sep;
}

.systemtray > button {
  padding: 2px 5px;
  background-color: @bg-color;
}

.systemtray > button * {
  font-size: 20px;
}

.volume * {
  all: unset;
}
