[data-theme="dark"] .hljs {
  color: #c9d1d9;
  /* background: #0d1117; */
}

[data-theme="dark"] .hljs-doctag,
[data-theme="dark"] .hljs-keyword,
[data-theme="dark"] .hljs-meta .hljs-keyword,
[data-theme="dark"] .hljs-template-tag,
[data-theme="dark"] .hljs-template-variable,
[data-theme="dark"] .hljs-type,
[data-theme="dark"] .hljs-variable.language_ {
  color: #ff7b72;
}

[data-theme="dark"] .hljs-title,
[data-theme="dark"] .hljs-title.class_,
[data-theme="dark"] .hljs-title.class_.inherited__,
[data-theme="dark"] .hljs-title.function_ {
  color: #d2a8ff;
}

[data-theme="dark"] .hljs-attr,
[data-theme="dark"] .hljs-attribute,
[data-theme="dark"] .hljs-literal,
[data-theme="dark"] .hljs-meta,
[data-theme="dark"] .hljs-number,
[data-theme="dark"] .hljs-operator,
[data-theme="dark"] .hljs-variable,
[data-theme="dark"] .hljs-selector-attr,
[data-theme="dark"] .hljs-selector-class,
[data-theme="dark"] .hljs-selector-id {
  color: #79c0ff;
}

[data-theme="dark"] .hljs-regexp,
[data-theme="dark"] .hljs-string,
[data-theme="dark"] .hljs-meta .hljs-string {
  color: #a5d6ff;
}

[data-theme="dark"] .hljs-built_in,
[data-theme="dark"] .hljs-symbol {
  color: #ffa657;
}

[data-theme="dark"] .hljs-comment,
[data-theme="dark"] .hljs-code,
[data-theme="dark"] .hljs-formula {
  color: #8b949e;
}

[data-theme="dark"] .hljs-name,
[data-theme="dark"] .hljs-quote,
[data-theme="dark"] .hljs-selector-tag,
[data-theme="dark"] .hljs-selector-pseudo {
  color: #7ee787;
}

[data-theme="dark"] .hljs-subst {
  color: #c9d1d9;
}

[data-theme="dark"] .hljs-section {
  color: #1f6feb;
  font-weight: bold;
}

[data-theme="dark"] .hljs-bullet {
  color: #f2cc60;
}

[data-theme="dark"] .hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}

[data-theme="dark"] .hljs-strong {
  color: #c9d1d9;
  font-weight: bold;
}

[data-theme="dark"] .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

[data-theme="dark"] .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

[data-theme="light"] .hljs {
  color: #24292e;
  /* background: #ffffff; */
}

[data-theme="light"] .hljs-doctag,
[data-theme="light"] .hljs-keyword,
[data-theme="light"] .hljs-meta .hljs-keyword,
[data-theme="light"] .hljs-template-tag,
[data-theme="light"] .hljs-template-variable,
[data-theme="light"] .hljs-type,
[data-theme="light"] .hljs-variable.language_ {
  color: #d73a49;
}

[data-theme="light"] .hljs-title,
[data-theme="light"] .hljs-title.class_,
[data-theme="light"] .hljs-title.class_.inherited__,
[data-theme="light"] .hljs-title.function_ {
  color: #6f42c1;
}

[data-theme="light"] .hljs-attr,
[data-theme="light"] .hljs-attribute,
[data-theme="light"] .hljs-literal,
[data-theme="light"] .hljs-meta,
[data-theme="light"] .hljs-number,
[data-theme="light"] .hljs-operator,
[data-theme="light"] .hljs-variable,
[data-theme="light"] .hljs-selector-attr,
[data-theme="light"] .hljs-selector-class,
[data-theme="light"] .hljs-selector-id {
  color: #005cc5;
}

[data-theme="light"] .hljs-regexp,
[data-theme="light"] .hljs-string,
[data-theme="light"] .hljs-meta .hljs-string {
  color: #032f62;
}

[data-theme="light"] .hljs-built_in,
[data-theme="light"] .hljs-symbol {
  color: #e36209;
}

[data-theme="light"] .hljs-comment,
[data-theme="light"] .hljs-code,
[data-theme="light"] .hljs-formula {
  color: #6a737d;
}

[data-theme="light"] .hljs-name,
[data-theme="light"] .hljs-quote,
[data-theme="light"] .hljs-selector-tag,
[data-theme="light"] .hljs-selector-pseudo {
  color: #22863a;
}

[data-theme="light"] .hljs-subst {
  color: #24292e;
}

[data-theme="light"] .hljs-section {
  color: #005cc5;
  font-weight: bold;
}

[data-theme="light"] .hljs-bullet {
  color: #735c0f;
}

[data-theme="light"] .hljs-emphasis {
  color: #24292e;
  font-style: italic;
}

[data-theme="light"] .hljs-strong {
  color: #24292e;
  font-weight: bold;
}

[data-theme="light"] .hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

[data-theme="light"] .hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
